.meal-detail {
  padding: 20px;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.meal-detail img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.back-btn {
  background: #ff7b00;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}
